<style> 

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	min-height: 480px;
	min-width: 1024px;
	font-size: small;
	background: rgb(51, 51, 51);
	color: rgb(172, 172, 172);
}

a {
	background: rgb(51, 51, 51);
	color: rgb(172, 172, 172);
	font-size: small;
	text-decoration: none;
}

#wrap {
	width: 100%;
	height: 100%;
}

/* */
.pic, form {
	float: left;
}

.mainbox {
	position: absolute;
	top: 133px;
	left: 110px;
}

form {
	margin: 6px 0 0 18px;
	background: #fff;
	height: 45px;
	width: 545px;
}

.edit {
	float: left;
	border: 0;
	outline: none;
	width: 490px;
	height: 30px;
	padding-left: 10px;
	padding-top: 8px;
	line-height: 30px;
	font-size: 24px;
}

.search {
	float: left;
	border: 0;
	outline: none;
	width: 45px;
	height: 45px;
	background-image: url(hpc18.png);
	cursor: pointer;
}

a {
	text-decoration: none;
	font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
}


/* */
#office-list {
	position: absolute;
	top: 35px;
	left: 430px;
	width: 352px;
	height: 330px;
	background-color: rgb(0, 0, 0);
	filter: alpha(opacity=30);
	opacity: 0.7;
}

#inner-box {
	margin: 10px 0 0 35px;
}

#office-list ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}

#office-list li {
	height: 85px;
	width: 80px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
}

#office-list li span {
	display: block;
}

#office-list-hover {
	display: block;
}

#login-box {
	height: 86px;
	width: 242px;
	background: #fff;
	position: absolute;
	top: 36px;
	right: 26px;
	border: 1px solid #cdcdcd;
	display: none;
}

#login-box .account {
	display: block;
	float: left;
	margin: 16px 0 0 24px;
	color: black;
	font-size: 16px;
	font-family: "微软雅黑";
}

#login-box a {
	float: left;
	margin: 16px 0 0 24px;
	background: #fff;
	color: black;
}

#Drop-down {
	height: 250px;
	width: 543px;
	background: #fff;
	position: absolute;
	top: 184px;
	left: 235px;
	border: 1px solid #cdcdcd;
	display: none;
}

#Drop-down ul {
	list-style: none;
	padding-left: 12px;
	margin-top: 0px;
}

#Drop-down li {
	height: 31px;
	line-height: 31px;
	margin-left: -12px;
}

#Drop-down li:hover {
	background: #cdcdcd;
	cursor: pointer;
	text-decoration: underline;
}

#Drop-down li a {
	font-size: 16px;
	font-family: "微软雅黑";
	background: transparent;
	color: black;
	padding-left: 10px;
}

#part4 {
	position: absolute;
	bottom: 60px;
	right: 20px;
}

#part4 a {
	display: inline;
	float: left;
	background: transparent;
}

#part4 span {
	display: block;
	float: left;
	height: 42px;
	width: 42px;
	margin-left: 20px;
}

#share {
	background: url("pic.png");
}

#share:hover {
	background-position: 420px 0;
}

#former {
	background: url("pic.png");
	background-position: 0 -84px
}

#former:hover {
	background-position: 420px -84px;
}

#next {
	background: url("pic.png");
	background-position: 0 -126px
}

#next:hover {
	background-position: 420px -126px;
}

#side {
	background: url("pic.png");
	background-position: 0 -42px
}

#side:hover {
	background-position: 420px -42px
}

#QRcode {
	background: url('QR Code1.png');
	background-repeat: no-repeat;
}

#QRcode:hover {
	background: url('QR Code2.png');
	background-repeat: no-repeat;
}

#QQ {
	background: url("pic.png");
	background-position: 0 -294px
}

#QQ:hover {
	background-position: 420px -42px
}

#weixin {
	background: url("pic.png");
	background-position: 0 -210px
}

#weixin:hover {
	background: url("pic.png");
	background-position: 0 -210px
}

#weibo {
	background: url("pic.png");
	background-position: 0 -252px
}

#weibo:hover {
	background: url("pic.png");
	background-position: 0 -252px
}

#select-box {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 139px;
	left: 780px;
}

#select-box ul {
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

#select-box ul li {
	height: 45px;
	width: 60px;
	line-height: 45px;
	text-align: center;
	background: #595959;
}

#tab-2 {
	display: none;
}

#select-box ul li a {
	background: transparent;
	font-size: 16px;
	font-family: "微软雅黑";
}

#select-box ul li:hover a {
	color: black;
	font-weight: bold;
	font-size: 18px;
}
/**/

#wrap #header-div {
	display: block;
	height: 43px;
    z-index: 9;
    width: 100%;
    border: 0;
    padding: 0;
	top: 0;
    position: relative;
    background-color: #333;
}

#header-div a {
	vertical-align: middle;
    display: inline-block;
	margin-left: 14px;
	margin-right: 14px;
}

#header-div a:hover {
	color: white;
}

#header-div #nav-hdu {
	position: relative;
	float:left;
    height: 43px;
    line-height: 39px;
    bottom: 0;
    left: 0;
    margin-left: 28px;
}

#header-div #header-options {
	position: absolute;
    bottom: 0;
	right:0;
    height: 43px !important;
    line-height: 39px;
}
#header-options div {
	float: left;
}
#header-options div .language {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: text-top;
	background-image: url(global.png);
	display: inline-block;
}

#header-options div .login {
	height: 43px;
}

#header-options div .login-post {
	width: 50px;
	height: 50px;
	margin-top: -16px;
	vertical-align: text-top;
	background-image: url(Login.png);
	display: inline-block;
}

#header-options div #settings {
	vertical-align: middle;
	margin: 4px 47px 11px 12px;
}

#content-div {
	position: relative;
	height: 720px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(Wallpapers.jpg);
	max-height: 1080px;
	max-width: 1920px;
}

.bingapp-qr-hide {
	display: none;
}
.bingapp-qr-show {
	display: block;
}

#footer-div {
	position: relative;
	bottom: 0;
	height: 35px;
	width: 100%;
}
#footer-div dt {
	bottom: 0px;
	right: 30px;
	margin-top: 10px;
	margin-right: 30px;
}

#footer-div dt a {
	margin-right: 5px;
	text-align: center;
}


</style>