<style> 

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	min-height: 480px;
	min-width: 1024px;
	font-size: small;
	background: rgb(51, 51, 51);
	color: rgb(172, 172, 172);
}

a {
	background: rgb(51, 51, 51);
	color: rgb(172, 172, 172);
	font-size: small;
	text-decoration: none;
	font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
}

/* */
/*搜索框的格式设置*/
.pic, form {
	float: left;
}

.mainbox {
	position: absolute;
	top: 133px;
	left: 110px;
}

form {
	margin: 6px 0 0 18px;
	background: #fff;
	height: 45px;
	width: 545px;
}

.edit {
	float: left;
	border: 0;
	outline: none;
	width: 490px;
	height: 30px;
	padding-left: 10px;
	padding-top: 8px;
	line-height: 30px;
	font-size: 24px;
}

.search {
	float: left;
	border: 0;
	outline: none;
	width: 45px;
	height: 45px;
	background-image: url(image/hpc18.png);
	cursor: pointer;
}
/*搜索框的格式设置*/


/* */
/* office 下拉列表的格式设置*/
#office-list {
	position: absolute;
	top: 43px;
	left: 425px;
	width: 352px;
	height: 330px;
	background-color: rgb(0, 0, 0);
	filter: alpha(opacity=30);
	opacity: 0.7;
	display:none;
	z-index: 2;
}

#inner-box {
	margin: 10px 0 0 35px;
}

#office-list ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}

#office-list li {
	height: 85px;
	width: 80px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;

}

#office-list li span {
	display: block;
}
/* office 下拉列表的格式设置*/


/*登陆下拉框的格式设置*/
#login-box {
	height: 86px;
	width: 242px;
	background: #fff;
	position: absolute;
	top: 43px;
	right: 26px;
	border: 1px solid #cdcdcd;
	display: none;
}

#login-box .account {
	display: block;
	height: 43px;
	line-height: 43px;
	margin-left: 24px;
	color: black;
	font-size: 16px;
	font-family: "微软雅黑";
}

#login-box a {
	float: left;
	height: 43px;
	line-height: 43px;
	margin-left:24px;
	background: #fff;
	color: black;
}
#setting-box{
	position: absolute;
	top: 43px;
	right: 0;
	height: 70px;
	width: 180px;
	background: #fff;
}
#setting-box a{
	display:inline-block;
	background: #fff;
	height: 35px;

}
#setting-box a:hover{
	text-decoration: underline;
}
/*登陆下拉框的格式设置*/

/*搜索结果列表的格式设置*/
#search-result-list {
	height: 250px;
	width: 543px;
	background: #fff;
	position: absolute;
	top: 184px;
	left: 235px;
	border: 1px solid #cdcdcd;
	display: none;
}

#search-result-list ul {
	list-style: none;
	padding-left: 12px;
	margin-top: 0px;
}

#search-result-list li {
	height: 31px;
	line-height: 31px;
	margin-left: -12px;
}

#search-result-list li:hover {
	background: #cdcdcd;
	cursor: pointer;
	text-decoration: underline;
}

#search-result-list li a {
	font-size: 16px;
	font-family: "微软雅黑";
	background: transparent;
	color: black;
	padding-left: 10px;
}
/*搜索结果列表的格式设置*/

/*分享，翻页，二维码等等部分格式设置*/
#buttons{
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 2;
}
#buttons div{
	display: inline;
	float: left;
}
#buttons a{
	display: inline;
	float: left;
	background: transparent;
}
#buttons span{
	
	float: left;
	height: 42px;
	width: 42px;
	margin-left: 20px;
}
#share {
	background: url("image/pic.png");
}

#share:hover {
	background-position: 420px 0;
}

#former {
	background: url("image/pic.png");
	background-position: 0 -84px
}

#former:hover {
	background-position: 420px -84px;
}

#next {
	background: url("image/pic.png");
	background-position: 0 -126px
}

#next:hover {
	background-position: 420px -126px;
}

#side-button {
	background: url("image/pic.png");
	background-position: 0 -42px
}

#side-button:hover{
	background-position: 420px -42px
}

#QRcode {
	background: url('image/QR Code1.png');
	background-repeat: no-repeat;
}

#QRcode:hover {
	background: url('image/QR Code2.png');
	background-repeat: no-repeat;
}

#QQ {
	background: url("image/pic.png");
	background-position: 0 -294px
}

#QQ:hover {
	background-position: 420px -294px
}

#weixin {
	background: url("image/pic.png");
	background-position: 0 -210px
}

#weixin:hover {
	background: url("image/pic.png");
	background-position: 420px -210px
}

#weibo {
	background: url("image/pic.png");
	background-position: 0 -252px
}

#weibo:hover {
	background: url("image/pic.png");
	background-position: 420px -252px
}
#shareWay{
	height: 42px;
	width: 0;
	margin-right: -20px;
}
#QWW span{ 
	display: none;
}


/*分享，翻页，二维码等等部分格式设置*/

/**/

#wrap #header-div {
	display: block;
	height: 43px;
    width: 100%;
    border: 0;
    padding: 0;
	top: 0;
    position: relative;
    background-color: #333;
}

#header-div a {
	vertical-align: middle;
    display: inline-block;
	margin-left: 14px;
	margin-right: 14px;
}

#header-div a:hover {
	color: white;
}

#header-div #nav-hdu {
	position: relative;
	float:left;
    height: 43px;
    line-height: 39px;
    bottom: 0;
    left: 0;
    margin-left: 28px;
}

#header-div #header-options {
	position: absolute;
    bottom: 0;
	right:0;
    height: 43px !important;
    line-height: 39px;
}
#header-options div {
	float: left;
}
#header-options div .language {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: text-top;
	background-image: url(image/global.png);
	display: inline-block;
}

#header-options div .login {
	height: 43px;
}

#header-options div .login-post {
	width: 50px;
	height: 50px;
	margin-top: -16px;
	vertical-align: text-top;
	background-image: url(image/Login.png);
	display: inline-block;
}

#header-options div #settings {
	vertical-align: middle;
	margin: 4px 47px 11px 12px;
}

#content-div {
	position: relative;
	height: 720px;
	overflow: hidden;
	max-height: 1080px;
	max-width: 1920px;
}
.bground{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(image/Wallpapers.jpg);
}
#bingapp-QrCode{
	height: 255px;
	width: 145px;
	position: absolute;
	bottom: 124px;
	right: 156px;
	display: none;
	z-index: 2;
}
#qrcode-box{
	 border:1px solid #fff;
	 padding:22px;
	 background:black;
	 opacity:0.7;
}
#bingapp-qrcode-lin{
	 border-left:1px solid #fff;
	 height:136px;
	 margin-left:72px;
}

#sidebar{
	
	width: 440px;
	background: black;
	opacity: 0.6;
	position: absolute;
	top: 0px;
	right: 0;
	display:none;

}
#footer-div {
	position: relative;
	bottom: 0;
	height: 35px;
	width: 100%;
}
#footer-div dt {
	bottom: 0px;
	right: 30px;
	margin-top: 10px;
	margin-right: 30px;
}




#footer-div dt a {
	margin-right: 5px;
	text-align: center;
}
#footer-div a:hover{
	color: #fff;
}

</style>