/*
* @Author: anchen
* @Date:   2016-10-31 19:50:59
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-03 08:02:17
*/
/* 公共样式 */
[class*='-checkBox']{
    position: absolute;
    left: 0;
    margin-top: 0;
    margin-left: 10px;
    height:100%;
    top:25%;
}
[class*='-checkBox']>span{
    display:block;
    width: 20px;
    height: 20px;
    background:url('../images/cart/shopping.cart.spirits.icns1.png');
    background-position:0 0;
    background-size:50px 150px;
}
body{
    position:relative;
    width:100%;
    height:100%;
    background:rgb(248,248,248);
    overflow-y: scroll;
    overflow-x: hidden;
    font-family:PingFangSC-Regular,Helvetica,"Droid Sans",Arial,sans-serif;

}
body>#jd-cart-topBar{
    height:auto;
    width:100%;
    background:#e0e0e0 url('../images/category/header-bg.png') repeat-x 0 0;
    background-size:1px 44px;
    border-bottom:1px solid #e0e0e0;
/*     position:absolute;
    top:0;
    left:0; */
    z-index:100;
}
/* 返回按钮 */
body>#jd-cart-topBar>.icon-backup{
    display:block;
    background-position:-20px 0;
    height:20px;
    width:20px;
    margin:12px 10px;
    position:absolute;
    top:0;
    left:0;
}
body>#jd-cart-topBar>p{
    height:45px;
    line-height:45px;
    width:100%;
    padding-left:40px;
    padding-right:40px;
    margin-bottom:0;
    text-align:center;
    box-sizing:border-box;
    margin-top:0;
}
body>#jd-cart-topBar>.icon-category{
    display:block;
    background-position:-60px 0;
    height:20px;/* 把盒子设置的稍微大一些，可以领用另外一种方法给盒子添加背景 */
    width:20px;
    margin:12px 10px;
    position:absolute;
    top:0;
    right:0;
}
body>#jd-cart-topBar>.jd-hiddenMenu{
    height:57px;
    width:100%;
    background:#404042;
    display: table;
    margin:0;
    padding:0;
    display: none;
}
body>#jd-cart-topBar>.jd-hiddenMenu>li{
    float:left;
    height:100%;
    width:25%;
    text-align:center;
}
body>#jd-cart-topBar>.jd-hiddenMenu>.selected{
    background:#2d2d2d;
}
body>#jd-cart-topBar>.jd-hiddenMenu>li strong{
    color:#fff;
    font-weight: normal;
    font-size: 12px;
}
body>#jd-cart-topBar>.jd-hiddenMenu>li span{
    display:block;
    height:30px;
    width:30px;
    margin:0 auto;
    margin-top:6px;
}
body>#jd-cart-topBar>.jd-hiddenMenu>li .pic1{
    background:url("../images/cart/jd-sprites.png");
    background-size:200px 200px;
    background-position:-30px -27px;
}
body>#jd-cart-topBar>.jd-hiddenMenu>li .pic2{
    background:url("../images/cart/jd-sprites.png");
    background-size:200px 200px;
    background-position:-60px -27px;
}
body>#jd-cart-topBar>.jd-hiddenMenu>li .pic3{
    background:url("../images/cart/jd-sprites.png");
    background-size:200px 200px;
    background-position:-90px -27px;
}
body>#jd-cart-topBar>.jd-hiddenMenu>li .pic4{
    background:url("../images/cart/jd-sprites.png");
    background-size:200px 200px;
    background-position:-120px -27px;
}
/* 购物车的内容区 */
body>#mainBox{
    width:100%;
    height:auto;
/*     padding-top:45px; */
    position:relative;
    z-index:99;
    padding-bottom: 50px;
}
body>#mainBox>#tipBar{
    height:40px;
    text-align:center;
    background:#f9f9f9;
    color:#666;
    font-size:13px;
}
body>#mainBox>#tipBar>a{
    display:inline-block;
    height:16px;
    width:26px;
    background:#f15353;
    color:#fff;
    border-radius: 3px;
    padding: 4px 12px;
    margin-top:8px;
    margin-left:10px;
}
body>#mainBox>#content{
    height:100%;
    margin:0 5px 10px 5px;
    box-sizing:border-box;
    padding-bottom:10px;
}
body>#mainBox>#content>.product-item{
    height:100%;
    width:100%;
}
#mainBox>#content>.product-item>.pro-title{
    width:100%;
    height:44px;
    background:#fff;
    position:relative;
    border-bottom:1px solid #e0e0e0;
}
#mainBox>#content>.product-item>.pro-title>.pro-checkBox{
    top: 12px;
}
#mainBox>#content>.product-item>.pro-title>.pro-checkBox[checked]{
    display:inline-block;
    width: 20px;
    height: 20px;
    background:url('../images/cart/shopping.cart.spirits.icns1.png');
    background-position:25px 0;
    background-size:50px 150px;
}
#mainBox>#content>.product-item>.pro-title>.seller{
    padding-left:40px;
    padding-right:144px;
    height:100%;
    box-sizing:border-box;
    padding-top:14px;
    position:relative;
}
#mainBox>#content>.product-item>.pro-title>.seller>.shop-logo{
    display:inline-block;
    width: 16px;
    height: 13px;
    background:url('../images/cart/JDshopTitle.png');
    background-size:16px 13px;
}
#mainBox>#content>.product-item>.pro-title>.message-else{
    height:100%;
    position:absolute;
    top:0;
    right:0;
    font-size:12px;
    color: #848689;
    margin-right:10px;
    line-height:44px;
}
.product-item>.change-purchase>a{
    display:inline-block;
    position:relative;
    overflow:hidden;
}
.product-item>.change-purchase>a>.exchange-logo{
    display:inline-block;
    height:13px;
    width:30px;
    background:#f23030;
    font-size:11px;
    color:#fff;
    text-align:center;
    margin:10px 10px 0 10px;
    position:absolute;
}
.product-item>.change-purchase>a>.exchange-logo::after{
    position:absolute;
    bottom:-4px;
    left:11px;
    content:" ";
    display:inline-block;
    height:4px;
    width:7px;
    background:url("../images/cart/promotion-down-arrow-icon.png") no-repeat;
    background-size:7px 4px;
   /*  background-image和background-size的前后顺序不一样将会导致图片显示差异 */
}
.product-item>.change-purchase>a>.exchange-text{
    display:inline-block;
    font-size:12px;
    color:#232326;
    height:28px;
    margin:8px 25px 8px 50px;
    box-sizing:border-box;
}
.product-item>.change-purchase>a>.arrow{
    position:absolute;
    top:16px;
    right:10px;
    display:inline-block;
    height:13px;
    width:7px;
    background:url("../images/cart/icon-shp-cart-arrow-right.png") no-repeat;
    background-size:7px 13px;
   /*  background-image和background-size的前后顺序不一样将会导致图片显示差异 */
}
.product-item .pro-detial{
    width:100%;
    background:#fff;
    height:auto;

}
.product-item .pro-detial>.pro-detial-top{

}
.product-item .pro-detial>.pro-detial-top>a{
    display:block;
    height:34px;
    width:100%;
    position:relative;
}
.product-item .pro-detial>.pro-detial-top>a>span{
    display:block;
    font-size:12px;
    color:#232326;
    position:absolute;
    top:0;
    right:0;
    margin:10px 10px 10px 0;
    padding-left:10px;
    border-left:1px solid #e0e0e0;
}
.pro-detial-middle{
    position:relative;
    width:100%;
    height:auto;
}
.pro-detial-middle>.pro-info{
    padding-left:30px;
    position:relative;
    vertical-align: center;
}
.pro-detial-middle>.pro-info>.pro-info-left{
    float:left;
    border-radius:6px;
    height:88px;
    width:88px;
    margin-left:10px;
    border: 1px solid #e3e5e9;
}
.pro-detial-middle>.pro-info>.pro-info-left>a{
    display:inline-block;
    height:100%;
    width:100%;
}
.pro-detial-middle>.pro-info>.pro-info-left img{
    display:inline-block;
    height:88px;
    width:88px;
}
.pro-detial-middle>.pro-info>.pro-info-right{
    width:100%;
    padding-left:105px;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 13px;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-message{
    margin:0 20px 3px 0;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-message span{
    height:30px;
    max-height:30px;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-prop{
    color:#81838e;
    position:relative;
    height:12px;
    margin:0 20px 3px 0;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-prop>.pro-prop1{
    position:absolute;
    left:0;
    top:0;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-prop>.pro-prop2{
    position:absolute;
    right:0;
    top:0;
}
.pro-detial-middle>.pro-info>.pro-info-right>.edit-model{
    background:#f0f2f5;
    color:#81838e;
    height:35px;
    line-height:35px;
    margin:0 0 13px 0;
    position:relative;
    border-radius: 3px;
    display:none;
}
.pro-detial-middle>.pro-info>.pro-info-right>.edit-model .edit-arrow{
    position: absolute;
    right: 12px;
    top: 14px;
    width: 13px;
    height: 7px;
    background: url("../images/cart/shopping.cart.spirits.icns1.png") -25px -50px no-repeat;
    background-size: 50px 150px;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-priceNum{
    margin-top:15px;
    /* width:; */
    height:24px;
    line-height:24px;
    vertical-align:middle;
    position:relative;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-priceNum>.pro-price{
    color:#f23030;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-priceNum>.pro-price strong{
    font-size:16px;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-priceNum>.pro-num{
   position:absolute;
   right:0;
   top:0;
   width:84px;
   height:auto;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-priceNum>.pro-num .minus{
    display:inline-block;
    background:url("../images/cart/shopping.cart.spirits.icns1.png") no-repeat;
    background-size:50px 150px;
    background-position: -20px -114px ;
    height:24px;
    width:24px;
    border:1px solid #e0e0e0;
    box-sizing:border-box;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-priceNum>.pro-num .plus{
    display:inline-block;
    background:url("../images/cart/shopping.cart.spirits.icns1.png") no-repeat;
    background-size:50px 150px;
    background-position: -20px -94px ;
    height:24px;
    width:24px;
    border:1px solid #e0e0e0;
    box-sizing:border-box;
}
.pro-detial-middle>.pro-info>.pro-info-right>.pro-priceNum input{
    display:inline-block;
    height:24px;
    width:34px;
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
    box-sizing:border-box;
    margin:0 -4px 0 -4px;
    position:relative;
    top:-8px;
    text-align:center;
}
.pro-detial-middle>.pro-edit{
    height:13px;
    line-height: 13px;
    color:#232326;
    font-size:12px;
    margin:15px 10px 10px 0;
    padding-bottom: 10px;
}
.pro-detial-middle>.pro-edit>a{
    display:block;
    float:right;
}
.pro-detial-middle>.pro-edit span{
    display:inline-block;
    height:100%;
    padding-left:10px;
    border-left:1px solid #e0e0e0;
}
/* 当点击编辑的时候这两个元素显示出来，平时隐藏 */
.pro-detial-middle>.pro-edit>.finish,
.pro-detial-middle>.pro-edit>.delete{
    display:none;
}
.pro-detial-middle>.pro-edit>.delete>span{
    color:#81838e;
    border-left:none;
    padding-right:10px;
}
.pro-detial-middle>.pro-edit>.finish>span{
    padding-right:10px;
}

.pro-detial-bottom{
    width:100%;
    margin-left:50px;
    padding:10px 0;
    border-top:1px dotted #e0e0e0;
    font-size:12px;
}
.pro-detial-bottom>.pro-priceSum i{
    font-size:13px;
    font-style:normal;
}
.addUp{
    position:fixed;
    bottom:0;
    left:0;
    background:#fff;
    width:100%;
    height:50px;
    z-index:200;
    border-top: 1px solid #e3e5e9;
}
.addUp>section{
    position:relative;
}
.addUp .selectAll{
    position:absolute;
    height:50px;
    width:60px;
    top:0;
    left:0;
    margin-left:5px;
}
.addUp .selectAll>i{
    position:relative;
    top:13px;
    left:32px;
    font-style:normal;
    font-size:12px;
    font-weight:bold;
}
.addUp .submit{
    display:inline-block;
    height:100%;
    width:98px;
    position:absolute;
    top:0px;
    right:0;
    background:#f23030;
    color: #fff;
    font-size: 16px;
    font-weight:700;
    text-align:center;
    line-height: 50px;
}
.addUp .submit>span{
    font-size:12px;
}
.addUp .amount{
    height:50px;
    margin-right:100px;
    margin-left:70px;
    box-sizing:border-box;
}
.amount>.amount-part1{
    display:inline-block;
    margin:10px 0 2px 0;
    font-size:14px;
}
.amount>.amount-part2{
    font-size:10px;
}
/* 删除模态框的CSS */
#deleteLayer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    display:none;
}
#deleteLayer>.cover{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.7);
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    font-size: .875em;
    z-index:301;
}
#deleteLayer>.deleteBox{
    width: 85%;
    position: fixed;
    overflow: hidden;
    background: #f8f8f8;
    border-radius: 5px;
    padding-bottom: 1em;
    z-index:302;
    margin-left:7%;
    margin-top:40%;
}
#deleteLayer>.deleteBox>.delete-tips{
    line-height: 74px;
    text-align: center;
    font-size: 18px;
    color: #4d4d4d;
}
#deleteLayer>.deleteBox>.delete-tips::after{
    border-top: 1px solid #E0E0E0;
    content: " ";
    display: block;
    width: 85%;
    margin: 0 auto;
}
#deleteLayer>.deleteBox>.delete-choice{
    text-align: center;
    padding: 1em 25px;
}
#deleteLayer>.deleteBox>.delete-choice>a{
    width: 45%;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 15px;
}
#deleteLayer>.deleteBox>.delete-choice>.cancel{
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 3px;
    color: #686868;
    text-align: center;
    float: left;
}
#deleteLayer>.deleteBox>.delete-choice>.sure{
    border: 1px solid #f35656;
    background: #f35656;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    float: right;
}



