<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>市级联动</title>
	<link rel="stylesheet" href="市级联动.css">
</head>
<body>
	<div id="app">
		<select id="province" v-model="province">
			<option v-for="item in provinceDate" v-once>{{item.name}}</option>
		</select>省
		<select id="city" v-model="city">
			<option v-for="zy in cityData" >{{zy.name}}</option>
		</select>市
		<select id="county">
			<option  v-for="index in countyData">{{index}}</option>
		</select>县／区
	</div>
	<script src="../../vue.js"></script>
	<script src="市级联动.js"></script>
</body>
</html>