<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件练习4</title>
	<link rel="stylesheet" href="组件练习4.css">
</head>
<body>
	<div id="app">
            <div id="searchBar">
                Search <input type="text" v-model="searchQuery" />
            </div>
            <simple-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery">
            </simple-grid>
    </div>
     <template id="grid-template">
            <table>
                <thead>
                    <tr>
                        <th v-for="col in columns">
                            {{col}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in filterBy">
                        <td>
                            {{entry.name}}
                        </td>
                        <td>
                            {{entry.age}}
                        </td>
                        <td>
                            {{entry.sex}}
                        </td>
                    </tr>
                </tbody>
            </table>
    </template>
    <script src="http://cdn.bootcss.com/vue/2.2.4/vue.js"></script>
	<!-- <script src="../s_01tableChange/vue.js"></script> -->
	<script src="组件练习4.js"></script>
</body>
</html>