<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>布局转换</title>
	<link rel="stylesheet" href="布局转换.css">
</head>
<body>
	<div id="app" v-cloak>
		<div class="bar">
	        <a class="grid-icon" v-bind:class="{ 'active': layout == 'grid'}" v-on:click="layout = 'grid'"></a>
			<a class="list-icon" v-bind:class="{ 'active': layout == 'list'}" v-on:click="layout = 'list'"></a>
		</div>
		<ul v-if="layout == 'grid'" class="grid">
			<li v-for="a in articles">
				<a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.large" /></a>
			</li>
		</ul>
		<ul v-if="layout == 'list'" class="list">
			<li v-for="a in articles">
				<a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.small" /></a>
				<p>{{a.title}}</p>
			</li>
		</ul>
	</div>
	<script src="../../vue.js"></script>
	<script src="布局转换.js"></script>	
</body>
</html>