*{
	margin:0;
	padding:0;
}
#main{
    width:432px;
    margin:0 auto;
    text-align:center;
}

#main li{
	float: left;
	width: 100px;
	height: 40px;
	text-align: center;
	background: red;
	list-style: none;
	line-height: 40px;
}
#main>ul>.show{
	font-weight: bold;
	background: green;
}