

/*设置页面整体的样式*/
html,body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    -webkit-tap-highlight-color:transparent;/* 清除点击之后出现的默认的高亮效果 */
    -webkit-box-sizing:border-box;
}
body{ 
    font-size:14px;
    font-family:PingFangSC-Regular,Helvetica,"Droid Sans",Arial,sans-serif;/* 第二个是手机上默认的字体 */
    position: relative;
    overflow: hidden;
}

/* 轮播图部分 */
#carousel-01{
    height:280px;
    width:60%;
    margin:0px auto;
}
#carousel-01>div img{
    height:280px;
    width:100%;
    text-align:center;
}
/*主体内容部分*/
#content{
    height:100%;
    width:120px;
}
#content-left{
    width:20%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:pink;    
}
#content-right{
    width:20%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    background:pink;
}
