

/*设置页面整体的样式*/
html,body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    -webkit-tap-highlight-color:transparent;/* 清除点击之后出现的默认的高亮效果 */
    -webkit-box-sizing:border-box;
}
body{
    font-size:14px;
     /* 第二个是手机上默认的字体  */
    background:#e0e0e0;
    overflow:hidden;
    font-family:"微软雅黑";
    overflow:scroll;
}
/* header部分 */
#head{
    height: 6%;
    width: 100%;
    text-align: right;
    background:#e0e0e0;
    border-bottom: 1px solid #f0f0f0;
    padding-right: 7%;
}
#head>span{
    display: inline-block;
    height: 12px;
    margin-top: 0.7%;
    padding-right: 1.5%;
    margin-right: 1%;
    border-right: 1px solid gray;
}
#head>span>a{
    position: relative;
    top: -4px;
    text-decoration: none;
    font-size: 12px;
    color: gray;
}



#search{
    height:12%;
    width: 100%;
    background: #f0f0f0;
    border-bottom: 1px solid #c0c0c0;
    position:relative;
}
#search>div{
    float: left;
    vertical-align: middle;
    margin: 0 5% 0 8%;
}
#search>#logo{
    height: 100%;
    width: 20%;
    background: url('../imgs/logo.jpg') no-repeat;
    background-size: 160px 80px;
}
#search>#search-part{
    width:30% ;
    height: 100%;
    margin: 1.5% 0;
    position:absolute;
    left:30%;
    top:0;
}
#search>#search-part>#textarea{
    width: 80%;
    height: 44%;
    border: 1px solid red;
}
#search>#search-part>#btn{
    width: 40px;
    height: 46%;
    background: #f10215;
    color: #fff;
    font-weight: bold;
}

#search>#cart{
    width: 12%;
    height: 60%;
    position: absolute;
    top:25%;
    right: 10%;
}
#search>#cart>span{
    display: inline-block;
    position: absolute;
}
#search>#cart>#cartLogo{
    height: 70%;
    width: 40%;
    background: url("../imgs/cartLogo.jpg") no-repeat;
    background-size: 86% 90%;
    top: 8%;
    left: 0;
}
#search>#cart>#cartText{
    top: 8%;
    left: 40%;
    height:70%;
    width:50%;
}
#search>#cart>#cartText>a{
    font-size: 12px;
    color: #000;
    text-decoration: none;
}
#search>#cart>#cartNum{
    top: 5%;
    left: 88%;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: red;
    text-align: center;
    line-height: 16px;
    color: #fff;
}



#middle-part{
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left:8%;
}
/* 轮播图部分 */
#carousel-01{
    height:250px;
    width:50%;
    float: left;
}
#carousel-01>div img{
    height:250px;
    width:100%;
    text-align:center;
}
/*主体内容部分*/
#content-left{
    width:15%;
    height:auto;
    background:pink;
    float: left;
    padding-top:8px;
}
#content-left>ul{
    padding: 10% 0;
    margin-left: 35%;
    list-style: none;
}
#content-left>ul>li>a{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #5C3317;
    text-decoration: none;
}
#content-left>ul>li{
    padding: 12px 0 0 0;
}
#content-right{
    width:17%;
    height:250px;
    background:pink;
    float: left;

}
#content-right>#sales-title{
    margin-top: 10px;
    margin-left: 13%;
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-size: 15px;
}
#content-right>#sales-detials{
    height: 200px;
    width: 100%;
    margin-left: 13%;
    font-size: 13px;
    overflow:hidden;
}
#content-right>#sales-detials>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#content-right>#sales-detials>ul>li{
    margin-top: 6px;
}
#content-right>#sales-detials>ul>li>a{
    text-decoration: none;
}

/* 商品的详细信息样式 */
#productDetials>#picBox{
    position:absolute;
    left:23%;
    top:60%;
    height:40%;
    width:27%;
}
#imagesControll{
    height:67px;
    width:346px;
    margin-left:19px;
}
#imagesControll>div{
    float:left;
}
#imagesControll>.smallImageUp{
    height:67px;
    width:14px;
    background:url('../imgs/button1.png') no-repeat;
}
#imagesControll>.smallImageDown{
    height:67px;
    width:14px;
    background:url('../imgs/button2.png') no-repeat;
}
#proDuctName{
    font-size:16px;
    font-weight:bold;
    margin-left:-8px;
    margin-bottom:10px;
}
#zoom_01{
    /* 设置图片的边框 */
    border:3px solid #c0c0c0;
    margin-left:20px;
}
#imageMenu{
    padding:0px;
    margin-bottom:0;
}
#imageMenu>li{
    list-style:none;
    float:left;
    border:1px solid #ccc;
}
#imageMenu>li>.active{
    border:1px solid red;
}


/* 买车详细信息描述 */
#proDes{
    width:30%;
    height:auto;
    position:absolute;
    top:60%;
    left:52%;
}
#proDes>#money{
    background-color: #fff;
    height:40px;
    width:300px;
    line-height:40px;
    padding-left:5px;
}
#proDes>div{
    margin-bottom:10px;
}
#proDes>#money>div strong{
    color:red;
    font-size:18px;
}
#proDes>#money>div>span{
    position:relative;
    font-size:12px;
    bottom:2px;
    left:2px;
}
#proDes>#carStyle>span{
    display:inline-block;
    height:30px;
    background:#fff;
    line-height:30px;
    padding:0 5px;
    border:1px solid #c0c0c0;
}
#proDes>#carStyle>span>a{
    color:#000;
    text-decoration:none;
}
#proDes>#carColor>a{
    display:inline-block;
    height:30px;
    background:#fff;
    line-height:30px;
    padding:0 5px;
    border:1px solid #c0c0c0;
    color:#000;
    text-decoration:none;
}
#proDes>#carColor>a>i{
    display:inline-block;
    height:12px;
    width:12px;
    margin-right:2px;
}
#proDes>#submit{
    height:35px;
    width:130px;
    line-height:35px;
    text-align:center;
    background:red;
    font-size:16px;
    font-weight:bold;
    border-radius:5px;
}
#proDes>#submit>a{
    color:#fff;
    text-decoration:none;
}
#proDes>#carStyle>.choosed,
#proDes>#carColor>.choosed{
    border:1px solid red;
}
#cartList{
    position:absolute;
    top:75%;
    left:65%;
    z-index:10;
    background:#fff;
    height:auto;
    width:300px;
}
#cartList>#listTitle{
    margin:10px 5px;
}
#cartPro{
    height:auto;
    width:100%;
    border:1px solid #f0f0f0;
}
#cartPro>a{
    display:inline-block;
    margin:10px 5px;
    color:#000;
    text-decoration:none;
}
#cartPro>a>img{
    display:inline-block;
    height:auto;
    width:auto;
    margin-right:5px;
}
#cartPro>a>.cartProName{
    display:inline-block;
    height:auto;
    width:180px;
}